.login_back{
    background-color: rgb(120, 39, 23);
    display: flex;
    margin: 140px;
    border-radius: 30px;
    height: 80%;
}
.img_container img{
    width: 85%;
    border-radius: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-right: 68px;
    float: right;
    background-color: rgb(251, 242, 178);
    padding-bottom: 10px;
    /* width: 500px; */
    border-radius: 20px;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 50px;
}
.text{
    color: rgb(120, 39, 23);
    font-size: 28px;
    font-weight: 700;
}
.underline{
    width: 75%;
    height: 3px;
    background-color:rgb(120, 39, 23);
    border-radius: 6px;
    /* margin-top: 20px; */
    margin-bottom: 20px;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 340px;
    height: 35px;
    background-color: rgba(131, 40, 22, 0.188);
    border-radius: 5px;
}
.input input{
    height: 30px;
    width: 400xpx;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(125, 25, 5);
    font-size: 14px;
    padding: 10px;
}
.forgotpass{
    padding-left: 80px;
    color: rgb(120, 39, 23);
    font-size: 15px;
}
.forgotpass a{
    text-decoration: none;
    color: black;    
}
.submit-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 50%;
    justify-content: center;
}

.submit{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 80px;
    display:inline-block;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: wheat;
    background-color: rgb(120, 39, 23);
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    border: none;
}
.gray{
    background-color: gray;
    color:black;
}
.error{
    color: red;
    font-size: 12px;
    padding-left: 26px;
}