  .App {
    min-height: 100vh;
    /* width: 85vw;
    max-width: 1900px; */
    margin: 0rem auto;
    /* margin-left: 40px; */
  }
  .App_{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  @media (max-width:800px){
    .App {
      max-width: 95vw;
    }
  }
  