.profile{
    display: flex;
    margin-top: 400px;
    flex-direction: column;
    margin: auto;
    padding-bottom: 10px;
    border-radius: 20px;
}
.pimg{
    background-image: url('../images/pimg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    margin-right: 100px;
    margin-left: 110px;
    margin-top: 30px;
    height: 300px;
    width: 1000px;
    border-radius: 50px;
}
.profile_container {
    background-color: rgb(251, 242, 178);
    margin-left: 250px;
    margin-top: 140px;
    width: 500px;
    border-radius: 50px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,5);
}
.profile-header{
    padding: 40px;
    text-align: center;
}
.profile-header img{
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 40px 0px rgb(120, 39, 23)
}
.profile-details{
    padding-left: 110px;
}
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 70px;
}

.user-info h3 {
    margin-right: 10px;
}

.user-info h4 {
    margin: 0;
    padding: 5px;
    cursor: pointer;
}

.editable {
    border-bottom: 2px solid rgb(120, 39, 23);
    cursor: pointer;
  }
  
  .edit-button,
  .save-button {
    background-color:rgb(251, 242, 178);
    color: rgb(120, 39, 23);
    border: none;
    padding-left: 300px;
    padding-bottom: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
